# Auto detect text files and perform LF normalization
* text=auto

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# Markdown files
*.md text eol=lf

# Config files
.gitignore text eol=lf
.editorconfig text eol=lf

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

